# Environment variables & secrets
.env

# Python byte-code and caches
__pycache__/
*/__pycache__/
*/*/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Virtual environments
venv/
env/
.venv/

# Summary and test output logs
*.log
